body {
    font-family: Garamond, serif;
    margin: 0;
    padding: 0;
    line-height: 1.8;
    background-image: url("https://cdn.pixabay.com/photo/2015/12/15/05/43/starry-night-1093721_960_720.jpg");
    background-color: #cccccc;
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: rgba(204, 204, 204, 0.7); 
    background-blend-mode: overlay;
}

header {
    background: #0316c3;
    color: #fff;
    padding: 1rem 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    background:  #0316c3;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
